.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.chore-table {
  border: 1px solid black;
  /*display: flex;
  align-items: flex-start;
  flex-direction: column;*/
  max-width: 800px;
  margin: 0 auto;

}
.chore-row {
  display: flex;
  justify-content: flex-start;
  border: 2px solid rgb(167, 167, 167);
  margin-bottom: 5px;
}

/*.chore-row div {
  display: inline-block;
}*/

.chore-title {
  align-self: center;
  text-align: left;
  flex: 1 2 200px;
}

.chore-complete-container {
  flex: 0 0 100px;
  width: 200px;
  align-self: center;
}
/*.chore-row div {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}*/

.completed-by {
  align-self: center;
  text-align: left;
  flex: 1 2 200px;
}

.token {
  display: inline-block;
  padding-left: 10px;
}
