.App {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #1A090D;
  margin: 5px auto 0 auto;
  max-width: 750px;
  min-width: 310px;
}

.main-content {
  margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8px;
}

h1 {
  font-size: 2.5em;
  margin-top: 15px;
}

.App-header a:link, .App-header a:visited,
 .App-header a:active {
	color: #fff;
  text-decoration: none;
}

.App-footer a:link, .App-footer a:visited,
 .App-footer a:active {
	color: #fff;
  text-decoration: none;
}

.App-header a:hover, .App-footer a:hover {
  border-bottom: 2px dotted #fff;
}



a:link, a:visited, a:active {
  color: #8D6A9F;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px dotted #8D6A9F;
}

/* Fix lingering hover state on touch devices */
@media (hover:none) {
    /* Primary Input doesn't respond to hover at all, even partially (ie: there is no pointing device) */
    a:hover {
      border-bottom: 0;
    }
    .App-header a:hover {
      border-bottom: 0;
    }
    .App-footer a:hover {
      border-bottom: 0;
    }
}


.App-header {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: center;
  background-color: rgb(81, 186, 200);
  height: 100px;
  padding: 20px;
  color: #000;
  margin-bottom: 10px;
  border-radius: 5px;
}


.App-footer {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: rgb(81, 186, 200);
  height: 50px;
  padding: 20px;
  color: #000;
  margin-bottom: 20px;
  border-radius: 5px;

}

.App-footer small {
  line-height: 1.5em;
}

.git-hub-project {
  margin-bottom: 10px;
}

.intro {
  font-size: .8em;
  padding: 0 20px;
  max-width: 500px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  padding: 10px 0;
}

.form-group {
  display: inline-block;
  min-width: 330px;
}

.fieldset {
  margin-top: 15px;
}

fieldset input,
fieldset select {
  margin: 10px;
}

.list-item {
  margin: 3px 0;
}

.login-box {
  position: absolute;
  top: 10px;
  right: 20px;
}

.login-box select {
  margin-left: 10px;

}

.chore-table {
  max-width: 600px;
  margin: 0 auto;

}
.chore-row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px dashed rgb(167, 167, 167);
  margin-bottom: 5px;
  min-height: 60px;
  padding: 20px 0 20px 0;
}

.chore-title {
  align-self: center;
  text-align: left;
  flex: 1 2 200px;
}

.chore-complete-container {
  flex: 0 0 100px;
  width: 200px;
  align-self: center;
}

.completed-by {
  align-self: center;
  text-align: left;
  flex: 3 2 200px;
}

.token-container {
  display: inline-flex;
  display: inline-table;
  vertical-align: middle;
  margin: 5px 10px;
}

.token {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: -2px 2px 3px #000;

  text-align: center;
  font-size: .8em;
}

.delete-user-data {
  margin-top: 60px;
  margin-bottom: 0;
}


/* MODAL STYLES */

.backdrop {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}


.modal {
  position: fixed;
  z-index: 1000;
  padding: 5px;
  top: 50px;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-radius: 20px;
  min-width: 300px;
  max-width: 700px;
}
.modal-transition-enter {
  top: -100px;
  opacity: 0;
}

.modal-transition-enter.modal-transition-enter-active {
  transition: top 500ms ease-in,
              opacity 500ms ease-in;
  opacity: 1;
  top: 50px;
}

.modal-transition-leave {
  top: 50px;
}

.modal-transition-leave.modal-transition-leave-active {
  transition: top 500ms ease-in,
              opacity 500ms ease-in;
  top: -100px;
  opacity: 0;
}

/* EditBox Styles and Transitions */


.edit-box {
  position: absolute;
  z-index: 1000;
  padding: 10px;
  top: 20%;
  width: 330px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-radius: 5px;
  min-width: 300px;
  max-width: 700px;
  background-color: #fff;
}

.edit-box button {
  margin: 20px 10px 5px 10px;
}

.edit-box h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.edit-box .group {
  text-align: left;
  padding-left: 70px;
}

label.form-group {
  margin-bottom: 20px;
}

.edit-box-transition-enter {
  opacity: 0;
}

.edit-box-transition-enter.edit-box-transition-enter-active {
  transition: opacity 250ms ease-in;
  opacity: 1;

}

.edit-box-transition-leave {
  opacity: 1;
}

.edit-box-transition-leave.edit-box-transition-leave-active {
  transition: opacity 250ms ease-in;
  opacity: 0;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  position: relative;
  top: 15px;
}

.navbar li {
color: #fff;
}

/* BUTTONS */

button {
  border: 0;
  outline: 0;
  box-shadow: -1px 1px 2px #000;
  background-color: #f02467;
  color: #fff
}

/* ensures hover styles are only applied to non-touch devices */
@media (hover:hover) {
  button:hover, button:active {

    position: relative;
    top: 1px;
    right: 1px;
    box-shadow: none;
  }
}

/* Styles for small screens */
@media (max-width: 380px) {
  .App-header h1 {
    margin-top: 20px;
    font-size: 1.5em
  }
  .App-header {
    font-size: .8em;
    height: 80px;
    padding-top: 30px;
  }

  .fieldset input {
    padding-right: 0;
    width: 100px;
  }
}
